{% extends 'base.html.twig' %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="title" content="AdminLTE 4 | Dashboard">
<meta name="author" content="ColorlibHQ">
<meta name="description"
    content="AdminLTE is a Free Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
<meta name="keywords"
    content="bootstrap 5, bootstrap, bootstrap 5 admin dashboard, bootstrap 5 dashboard, bootstrap 5 charts, bootstrap 5 calendar, bootstrap 5 datepicker, bootstrap 5 tables, bootstrap 5 datatable, vanilla js datatable, colorlibhq, colorlibhq dashboard, colorlibhq admin dashboard" />
<!-- By adding ./css/dark/adminlte-dark-addon.css then the page supports both dark color schemes, and the page author prefers / default is light. -->
<meta name="color-scheme" content="light dark">
<!-- By adding ./css/dark/adminlte-dark-addon.css then the page supports both dark color schemes, and the page author prefers / default is dark. -->
<!-- <meta name="color-scheme" content="dark light"> -->
{% endblock %}
{% block stylesheets %}
<!-- OPTIONAL LINKS -->

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

<!-- overlayScrollbars -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@1.13.1/css/OverlayScrollbars.min.css"
    integrity="sha256-WKijf8KI68sbq8Znd6yMepIuFF0wdWfIt6gk3JWcQfk=" crossorigin="anonymous">
{{ encore_entry_link_tags('adminlte') }}
{{ encore_entry_link_tags('app') }}

{# <!-- Font Awesome -->
<link rel="stylesheet" href="{{ asset('fontawesome/css/fontawesome.min.css')}}">
<link rel="stylesheet" href="{{ asset('fontawesome/css/solid.min.css')}}">

<!-- REQUIRED LINKS -->

<!-- Theme style -->
<link rel="stylesheet" href="{{ asset('AdminLTE/css/adminlte.css')}}">

<!-- For RTL verison use ./css/rtl/adminlte.rtl.css, remove dist/css/adminlte.css -->
<!-- <link rel="stylesheet" href="./css/rtl/adminlte.rtl.css""> -->

<!-- For dark mode use ./css/dark/adminlte-dark-addon.css, do not remove dist/css/adminlte.css or if usinf RTL version do not remove ./css/rtl/adminlte.rtl.css-->
<!-- ... and then the alternate CSS first as a snap-on for dark color scheme preference -->
<!-- <link rel="stylesheet" href="./css/dark/adminlte-dark-addon.css" media="(prefers-color-scheme: dark)""> -->

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> #}
{% endblock %}

{% block body %}
<div class="wrapper">
    <!-- Navbar -->
    {{include('backend/layout/_header.html.twig')}}
    <!-- /.navbar -->


    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-bg-dark sidebar-color-primary shadow">
        <div class="brand-container">
            <a href="javascript:;" class="brand-link">
                <img src="{{asset('AdminLTE/assets/img/AdminLTELogo.png')}}" alt="AdminLTE Logo"
                    class="brand-image opacity-80 shadow">
                <span class="brand-text fw-light">AdminLTE 4</span>
            </a>
            <a class="pushmenu mx-1" data-lte-toggle="sidebar-mini" href="javascript:;" role="button"><i
                    class="fas fa-angle-double-left"></i></a>
        </div>
        <!-- Sidebar -->
        {{include('backend/layout/_menu.html.twig')}}
        <!-- /.sidebar -->
    </aside>

    <!-- Main content -->
    <main class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <div class="fs-3">{% block page_title %}Dashboard{% endblock %} </div>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-end">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="card">

                    <div class="card-body">
                        {% block page_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the end -->
        <div class="float-end d-none d-sm-inline">
            Anything you want
        </div>
        <!-- Default to the start -->
        <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>

</div>



{% endblock %}

{% block javascripts %}
<!-- overlayScrollbars -->
<script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@1.13.1/js/OverlayScrollbars.min.js"
    integrity="sha256-7mHsZb07yMyUmZE5PP1ayiSGILxT6KyU+a/kTDCWHA8=" crossorigin="anonymous"></script>
<!-- Bootstrap 5 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha256-9SEPo+fwJFpMUet/KACSwO+Z/dKMReF9q4zFhU/fT9M=" crossorigin="anonymous"></script>

<!-- REQUIRED SCRIPTS -->

<!-- AdminLTE App -->
{# <script src="{{asset('AdminLTE/js/adminlte.js')}}"></script> #}
{{ encore_entry_script_tags('adminlte') }}

<script>
    const SELECTOR_SIDEBAR = '.sidebar'
    const Default = {
      scrollbarTheme: 'os-theme-light',
      scrollbarAutoHide: 'leave'
    }
    document.addEventListener("DOMContentLoaded", function() {
      if (typeof OverlayScrollbars !== 'undefined') {
        OverlayScrollbars(document.querySelectorAll(SELECTOR_SIDEBAR), {
          className: Default.scrollbarTheme,
          sizeAutoCapable: true,
          scrollbars: {
            autoHide: Default.scrollbarAutoHide,
            clickScrolling: true
          }
        })
      }
    })
  </script>
{% endblock %}