{% extends 'backend/layout/main.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}
{% block page_title %}
<i class="fa-solid fa-desktop"></i>   Administración
{% endblock %}
{% block page_content %}
<div>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eos necessitatibus ex doloremque minus incidunt nobis ea distinctio ipsum! Quasi cumque delectus eos ut ipsam ullam consequuntur quia similique suscipit?
</p>
</div>
{% endblock %}
