{% extends 'backend/layout/main.html.twig' %}

{% block title %}User New{% endblock %}
{% block page_title %}User New{% endblock %}
{% block page_description %}...{% endblock %}

{% block page_content %}

    {{ include('backend/user/_form.html.twig') }}

    <a href="{{ path('app_backend_user_index') }}">back to list</a>
{% endblock %}
