{% extends 'backend/layout/main.html.twig' %}

{% block title %}User Consultar{% endblock %}
{% block page_title %}User Consultar{% endblock %}
{% block page_description %}...{% endblock %}

{% block page_content %}

    <table class="table" >
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ user.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ user.apellidos }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backend_user_index') }}">back to list</a>

    <a href="{{ path('app_backend_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('backend/user/_delete_form.html.twig') }}
{% endblock %}
